.map-icons{
	background:#FFF;
	padding:20px
	}

.map-icons .indent{
	margin-left:25px;
	}

.map-icons p{
	padding: 0;
	margin: 6px;
	cursor: default;
	}

.map-icons p > * {
	vertical-align:middle;
	}

.map-icons span{
	margin-left:5px;
}

.map-icons span[contenteditable]{
	padding:6px 7px;
	margin-left:-2px;
	outline: none;
	background: #EEE;
	border-radius:3px;
}